<div class="row p-3">
    <div class="col-3">
        <div class="bg-success p-3" *ngIf="div1Visible">
            div 1
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary p-3" *ngIf="number1 == number2">
            div 2
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-3">
        <button class="bg-success" (click) = "showDiv1()">open</button>
        <button class="bg-danger" (click) = "hideDiv1()">close</button>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)] = "number1" />
        <input type="text" [(ngModel)] = "number2" />
    </div>

    <div class="col-2">
        <p>{{ number1 == number2 }}</p>
    </div>
</div>
